@use "../../styles/abstracts/variables" as *;
@use "../../styles/base/typography" as *;

.login {
  min-height: 100vh;
  padding: 40px 60px;
  font-family: $font-primary;

  &__logo img {
    width: 174px;
    height: 36px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-top: 100px;
  }

  &__image img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  &__form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 100%;
    max-width: 447px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
      font-size: 40px;
      font-weight: 700;
      color: $text-header;
    }

    p {
      font-size: 20px;
      color: $text-primary;
      margin-bottom: 24px;
    }

    .error {
      margin-top: -6px;
      margin-bottom: 8px;
      font-size: 12px;
      color: #e4033b;
    }

    .forgot-password {
      margin: 24px 0;
      background: none;
      border: none;
      color: $primary-teal;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.1em;
      cursor: pointer;
      align-self: flex-start;
    }
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .login {
    padding: 30px 40px;

    &__content {
      gap: 40px;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .login {
    padding: 20px;

    &__content {
      flex-direction: column;
      margin-top: 40px;
    }

    &__image {
      display: none;
    }

    &__form {
      width: 325px;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
