@use "../../../styles/abstracts/variables" as *;

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 447px;

  input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 5px;
    border: 1px solid $border-color;
    font-size: 14px;

    &:focus {
      border-color: $text-primary;
      outline: none;
    }
  }

  .show-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $primary-teal;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
  }
}
