.page-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f9fafe;
    margin-top: 80px;
    margin-left: 283px;
    width: calc(100% - 283px);
    max-width: calc(100% - 283px);
  }

  &__content {
    padding: 24px 32px;
    flex: 1;
  }
}

.sidebar-overlay {
  display: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .page-wrapper__main {
    &__content {
      padding: 16px;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;

    &__main {
      margin-left: 0px;
      width: 100%;
      max-width: 100%;
    }

    &__content {
      padding: 12px 12px;
      flex: 1;
    }

    .page-wrapper__main {
      width: 100%;
    }
  }

  .sidebar-overlay {
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
  }
}
