* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This removes the default browser password toggle (I usually do this because I prefer to create my own toggle button) */
input[type="password"]::-webkit-password-toggle,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}
